body {
    overflow: hidden;
    min-height: 100vh;
}
.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 0, 0, 0.6);
    opacity: 0;
    animation: anim 8s forwards;
    filter: hue-rotate(0deg);
}

@keyframes anim {
    to {
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}